* { box-sizing: border-box; }
body { color: $text-color; font-size: 12px;}
a { color: $links-color; text-decoration: none; }
.hide-element { position: absolute; left: -9999em; }
//titles
.title-1 { font-size: 20px; font-weight: 800; text-transform: uppercase; }
.container { padding: 0 10px; }

@media (min-width: 768px) { 
    .container { padding: 0 60px; }
    .mobile-only { display: none; }
}